<!-- Toolbar Nav  -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>SimpleCRM</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/tutorials'"> Tutorials </a>
      <a mat-button [routerLink]="'/'"> Create Account </a>
      <a mat-button [routerLink]="'/'"> Contacts </a>
      <a mat-button [routerLink]="'/'"> Create Contact </a>
      <a mat-button [routerLink]="'/'"> Activities </a>
      <a mat-button [routerLink]="'/'"> Create Activity </a>

    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
      <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
    </mat-toolbar-row>
</mat-toolbar>

<!-- Sidenav   -->
<mat-sidenav-container>
  
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/tutorials'"> Tutorials </a>
      <a mat-list-item [routerLink]="'/'"> Create Account </a>
      <a mat-list-item [routerLink]="'/'"> Contacts </a>
      <a mat-list-item [routerLink]="'/'"> Create Contact </a>
      <a mat-list-item [routerLink]="'/'"> Activities </a>
      <a mat-list-item [routerLink]="'/'"> Create Activity </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
 
  <mat-sidenav-content>
    <div style="height: 88vh;">

      
        <router-outlet></router-outlet> <!-- Router Link  -->
		
		
    </div>
  </mat-sidenav-content>

  
</mat-sidenav-container>


  


