<p>commonheader works!  ... Test</p>

<br/>
<p> String  interpolation  ... </p>
<p> {{dateNaissance}}</p>

<br/>

<p> Angular  Pipe ...</p>
<p> {{salaire}}</p>

<p> {{salaire|number}}</p>

<p> {{ salaire |number:'1.0-1'}}</p>

<h2>{{ prenom | lowercase }}</h2>
<h2>{{ prenom | titlecase }}</h2>

<br/>

<p> Form Data Binding Two Ways  ...</p>
<input type="text" [(ngModel)]="nom">

<p> {{nom}}</p>


 
<p> Property Binding  ...</p>

<img [src]="myphoto" alt="{{nom}}" width="25" height="25">

<img src="{{myphoto}}" alt="{{nom}}"  width="50" height="50">


<br/>

 
<p> Event Data binding  ...</p>
 <button type="submit" (click)="sendFormData()">OK</button>

 <p> Directive *ngFor  ...</p>
 <li *ngFor="let user of users">  
    {{ user.name }} 
    </li> 
    